/* xl-размер (>=1200px) */



/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
    .img_skills{
        height: 350px;
        }
      }
  
  /* md-размер (<=991px) */
  @media (max-width: 991px) {
      .row1{
        text-align: center;
        margin-top: 50px;
        padding-bottom: 50px;
      }

      .row1 h1{
          padding-top: 30px;
      }

      .row1 p{
        padding: 10px 0;
    }

      .about{
          margin: 50px 0 50px 0;
      }
      .s2{
        text-align: center;
        height: 350px;
      }
      .img_line{
          padding: 10px 0 10px 0;
      }
      .skills-col{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
      }

      .s3{
          margin: 50px 0 50px 0;
        display: block;
        justify-content: center;
        align-items: center;
      }
      .bg_skills{
        width: 480px;
        height: 4px;
        background-color: #c4c4c4;
    }
    .img_skills{
        align-items: center;
        justify-content: center;
        display: flex;
        height: 350px;
        margin: auto;
        }
    .my_skills{
            padding-bottom: 0;
        }

    .s4{
        padding: 50px 0 50px 0;
    }
    .s4 h2{
        padding: 10px 0 10px 0 ;
    }
    
    .s4 p{
        padding: 10px 0 10px 0 ;
    }
    .img_gallery{
        margin-bottom: 10px;
    }
    .want p{
        padding-bottom: 30px;
    }


}
  
  /* sm-размер (<=768px) */
  @media (max-width: 767px) {
    /* CSS для ширины от 576px до 767px */
  }
  
  /* xs-размер (<=575px) */
  @media (max-width: 575px) {
    .present p{
        padding: 0 200px;
    }


}