body {
    margin: 0 auto;
    padding: 0 !important;
    box-sizing: border-box;
    font-size: 1rem;
    max-width: 1920px;
    min-width: 320px;
    height: 100%;
  }
  
  h1,
  h2,
  p,
  .button {
      font-family: 'Roboto', sans-serif;   
  }
  
  .h1, h1 {
      font-size: 3rem;
  }
  
  .h2, h2 {
      font-size: 2rem;
  }
  .section {
    width: 1920px;
    padding: 0;
}

ul{
    margin: 0;
}

.container {
    width: 1113px;
    padding: 0;
}


/* <<<<<<<<<<<Menu row_1>>>>>>>>>>> */

.section_first{
    background-color: #EEEFF1;
}

.navbar{
    padding-top: 46px;
}

a.nav-link{
    text-transform: uppercase;
    font-weight: 500;
    color: black !important;
    margin-left: 42px;
    padding: 0;
    transition: .3s;
    text-align: center;

}

a.nav-link:hover{
    text-transform: uppercase;
    color: #34547A !important;
    

}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 0;
    padding-left: 0;
}


/* <<<<<<<<<<<row_2>>>>>>>>>>> */
.row_2{
    margin-top: 128px;
    padding-bottom: 157px;
}


.write_me{
    display: inline-flex;
    flex-direction: row;
}

.button{
    width: 225px;
    height: 65px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background-color: #34547A;
    transition: .3s;
}

.present p{
    margin: 60px 0;
}

button:focus {
    outline: none;
}

.button:hover{
    background-color: #143d6d;
}

/* <<<<<<<<<<<row_3>>>>>>>>>>> */

.about, .about2{
    display: block;
    text-align: center;
    justify-content: center;
    padding-top: 112px;
}

.row_3{
padding-bottom: 100px;
background-color: white;
}


/* <<<<<<<<<<<row_4>>>>>>>>>>> */

.row_4{
    margin: 0;
}

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #34547A;
    padding: 0;
}

.img_line{
    height: 50px;
    padding-right: 49px;
}


/* <<<<<<<<<<<row_5>>>>>>>>>>> */

.section_third{
    margin-top: 102px;
}

.skills_block{
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.bg_skills{
    width: 445px;
    height: 4px;
    background-color: #c4c4c4;
}

.skill_adobe1{
    height: 4px;
    width: 400px;
    background-color: #34547A;
}

.my_skills{
    padding-bottom: 50px;
}

.adobe{
    color: #727272;
    margin: 30px 0 20px 0;
}

.skill_adobe2{
    height: 4px;
    width: 300px;
    background-color: #34547A;
}

.skill_adobe3{
    height: 4px;
    width: 50px;
    background-color: #34547A;
}

.img_skills{
    height: 450px;
}

/* <<<<<<<<<<<row_6>>>>>>>>>>> */

.row_6 h2{
    padding-bottom: 50px;
}

.row_6 p{
    padding-bottom: 57px;
}

.embed-responsive{
    margin-bottom: 100px;
}

/* <<<<<<<<<<<row_7>>>>>>>>>>> */

.img_gallery{
    width: 480px;
    padding: 0;
    margin: 0;
}

.row_7{
    display: flex;
    align-items: center;
}

.gallery{
    padding: 0 auto;
}

/* <<<<<<<<<<<row_8>>>>>>>>>>> */

.row_8{
    margin-top: 72px;
}

.microsoft{
    display: flex;
    justify-content: center;
}

.img_microsoft{
    margin: 0 15px;
}

/* <<<<<<<<<<<row_9>>>>>>>>>>> */

.row_9{
    margin-top: 200px;
    display block;
    justify-content: center;
    text-align: center;

}
.send{
    margin-bottom: 100px;
}

.want h2{
    padding-bottom: 50px;
}

.want p{
    padding-bottom: 65px;
}

/* <<<<<<<<<<<row_10>>>>>>>>>>> */


.textarea{
height: 200px;
}

.send{
    margin-top: 50px;
}

/* <<<<<<<<<<<row_11>>>>>>>>>>> */


.vk{
    height: 151px;
    background-color: #34547A;
}

.vk_logo{
    height: 23px;
    padding: 0 11px;
}

.vk{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer{
margin-left: 406px;
}

.img_footer{
    margin-right: 389px;
}
